{% extends 'layout/basic.html' %}
{% load static %}

{% block main %}

    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 bg-hero mb-5">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <h1 class="display-1 text-white mb-md-4">{{ request|string:'our products' }}</h1>
                    <a href="/" class="btn btn-primary py-md-3 px-md-5 me-3">{{ request|string:'home' }}</a>
                    <a href="/product" class="btn btn-secondary py-md-3 px-md-5">{{ request|string:'products' }}</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->

   <!-- Products Start -->
   <div class="container-fluid py-5">
    <div class="container">
        <div class="mx-auto text-center mb-5" style="max-width: 500px;">
            <h6 class="text-primary text-uppercase">{{ request|string:'products' }}</h6>
            <h1 class="display-5">{{ request|string:'our fresh & organic products' }}</h1>
        </div>
        <div class="owl-carousel product-carousel px-5 ">
            {% for product in products %}
            <div class="pb-5">
                <div class="product-item position-relative bg-white d-flex flex-column text-center">
                    <img class="img-fluid mb-4" src="{% url 'get_file' product.photo %}" alt="">
                    <h6 class="mb-3">
                        {% if request|user_lang == 0 %}
                            {{ product.title_uz }}
                        {% elif request|user_lang == 1 %}
                            {{ product.title_ru }}
                        {% else %}
                            {{ product.title_en }}
                        {% endif %}
                    </h6>
                    {% if product.price %}
                    <h5 class="text-primary mb-0">${{ product.price }}</h5>
                    {% endif %}

                    {% if product.grade %}
                    <h6 class="text-dark mb-0">{{ request|string:'grade' }} — {{ request|string:product.grade }}</h6>
                    {% endif %}

                    {% if product.drying_type %}
                    <h6 class="text-dark mb-0">{{ request|string:'drying type' }} — {{ request|string:product.drying_type }}</h6>
                    {% endif %}
                    
                    {% if product.packaging %}
                    <h6 class="text-dark mb-0">{{ request|string:'packaging — box' }} {{ request|string:product.packaging }} {{ request|string:'kg' }}</h5>
                    {% endif %}

                    <div class="btn-action d-flex justify-content-center">
                        <a class="btn bg-primary py-2 px-3" href=""><i class="bi bi-cart text-white"></i></a>
                        <a class="btn bg-secondary py-2 px-3" href=""><i class="bi bi-eye text-white"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- <div class="pb-5">
                <div class="product-item position-relative bg-white d-flex flex-column text-center">
                    <img class="img-fluid mb-4" src="{% static 'img/product-2.jpg' %}" alt="">
                    <h6 class="mb-3">Organic Vegetable</h6>
                    <h5 class="text-primary mb-0">$19.00</h5>
                    <div class="btn-action d-flex justify-content-center">
                        <a class="btn bg-primary py-2 px-3" href=""><i class="bi bi-cart text-white"></i></a>
                        <a class="btn bg-secondary py-2 px-3" href=""><i class="bi bi-eye text-white"></i></a>
                    </div>
                </div>
            </div>
            <div class="pb-5">
                <div class="product-item position-relative bg-white d-flex flex-column text-center">
                    <img class="img-fluid mb-4" src="{% static 'img/product-1.jpg' %}" alt="">
                    <h6 class="mb-3">Organic Vegetable</h6>
                    <h5 class="text-primary mb-0">$19.00</h5>
                    <div class="btn-action d-flex justify-content-center">
                        <a class="btn bg-primary py-2 px-3" href=""><i class="bi bi-cart text-white"></i></a>
                        <a class="btn bg-secondary py-2 px-3" href=""><i class="bi bi-eye text-white"></i></a>
                    </div>
                </div>
            </div>
            <div class="pb-5">
                <div class="product-item position-relative bg-white d-flex flex-column text-center">
                    <img class="img-fluid mb-4" src="{% static 'img/product-2.jpg' %}" alt="">
                    <h6 class="mb-3">Organic Vegetable</h6>
                    <h5 class="text-primary mb-0">$19.00</h5>
                    <div class="btn-action d-flex justify-content-center">
                        <a class="btn bg-primary py-2 px-3" href=""><i class="bi bi-cart text-white"></i></a>
                        <a class="btn bg-secondary py-2 px-3" href=""><i class="bi bi-eye text-white"></i></a>
                    </div>
                </div>
            </div>
            <div class="pb-5">
                <div class="product-item position-relative bg-white d-flex flex-column text-center">
                    <img class="img-fluid mb-4" src="{% static 'img/product-1.jpg' %}" alt="">
                    <h6 class="mb-3">Organic Vegetable</h6>
                    <h5 class="text-primary mb-0">$19.00</h5>
                    <div class="btn-action d-flex justify-content-center">
                        <a class="btn bg-primary py-2 px-3" href=""><i class="bi bi-cart text-white"></i></a>
                        <a class="btn bg-secondary py-2 px-3" href=""><i class="bi bi-eye text-white"></i></a>
                    </div>
                </div>
            </div> -->

        </div>
    </div>
</div>
<!-- Products End -->

    <!-- Features Start -->
    <div class="container-fluid bg-primary feature py-5 pb-lg-0 my-5">
        <div class="container py-5 pb-lg-0">
            <div class="mx-auto text-center mb-3 pb-2" style="max-width: 500px;">
                <h6 class="text-uppercase text-secondary">{{ request|string:'features' }}</h6>
                <h1 class="display-5 text-white">{{ request|string:'why choose us!!!' }}</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-3">
                    <div class="text-white mb-5">
                        <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-seedling fs-4 text-white"></i>
                        </div>
                        <h4 class="text-white">100% {{ request|string:'organic' }}</h4>
                        <p class="mb-0">{{ request|string:'organic text' }}</p>
                    </div>
                    <div class="text-white">
                        <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-award fs-4 text-white"></i>
                        </div>
                        <h4 class="text-white">{{ request|string:'award winning' }}</h4>
                        <p class="mb-0">{{ request|string:'award winning text' }}</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-block bg-white h-100 text-center p-5 pb-lg-0">
                        <p>{{ request|string:'features text' }}</p>
                        <img class="img-fluid" src="{% static 'img/feature.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="text-white mb-5">
                        <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-tractor fs-4 text-white"></i>
                        </div>
                        <h4 class="text-white">{{ request|string:'modern farming' }}</h4>
                        <p class="mb-0">{{ request|string:'modern farming text' }}</p>
                    </div>
                    <div class="text-white">
                        <div class="bg-secondary rounded-pill d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-phone-alt fs-4 text-white"></i>
                        </div>
                        <h4 class="text-white">24/7 {{ request|string:'best price' }}</h4>
                        <p class="mb-0">{{ request|string:'best price text' }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features Start -->

{% endblock %}